<template>
  <div class="page-container relative">
    <div class="header">
      <GlbNavBar />
    </div>
    <glb-app-content class="flex flex-col" :md-scroll-y="true">
      <GlbAppView class="flex-noshrink relative block container px-6 mx-auto" />
    </glb-app-content>
  </div>
</template>

<script>
export default {
  name: 'LayoutsApplication'
}
</script>

<style lang="scss" scoped>
.page-container {
  min-width: 0;
  flex-direction: column;
  display: flex;
  flex: 1;
  .header {
    z-index: 3;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
}
</style>
