<!doctype html>
<html lang="en" class="rykn0wxx no-js">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="rykn0wxx" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <link rel="icon" href="<%= BASE_URL %>anonymous.ico" />
    <title>rykn0wxx</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900italic" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />
    <script type="text/javascript">
      document.documentElement.className = "rykn0wxx js";
    </script>
  </head>

  <body class="mudhead">
    <noscript>
      <strong>
          We're sorry but client doesn't work properly without JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

</html>
