<template>
  <a
    @blur="blurHandler"
    @focus="focusHandler"
    v-if="href"
    :href="href"
    v-bind="$attrs"
    class="btn" role="button">
    <slot />
  </a>
  <button
    v-else
    @blur="blurHandler"
    @focus="focusHandler"
    v-bind="$attrs"
    v-on="$listeners"
    class="btn" type="button">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'Button',
  inheritAttrs: true,
  props: {
    href: {
      type: [String],
      default: ''
    }
  },
  methods: {
    blurHandler () {
      this.$el.classList.remove('btn-focused')
    },
    focusHandler () {
      this.$el.classList.add('btn-focused')
    },
    clickHandler ($e) {
      this.$emit('click', $e)
    }
  }
  // render (createElement) {
  //   const btnType = this.mdType !== 'button' ? 'a' : 'button'
  //   const btnOptions = {
  //     class: 'btn',
  //     on: {
  //       blur: this.blurHandler,
  //       focus: this.focusHandler,
  //       click: this.clickHandler
  //     },
  //     attrs: {}
  //   }
  //   if (btnType === 'button') {
  //     btnOptions.attrs.type = 'button'
  //   }
  //   return createElement(btnType, btnOptions, this.$slots.default)
  // }
}
</script>

<style lang="scss" scoped>
@import '../../sass/variables';
@import '../../sass/mixins';
$button-border-radius: 2px;
$button-fab-border-radius: 50%;
$button-icon-border-radius: $button-fab-border-radius;

$button-font-size: $body-font-size-base;
$button-font-size-dense: $body-font-size-base * 13/14;

$button-line-height: rem(3.60);
$button-line-height-dense: rem(3.20);
$button-margin: rem(0.600) rem(0.800);
$button-min-width: rem(8.800);
$button-padding: 0 $button-left-right-padding;

$button-fab-line-height: rem(5.600);
$button-fab-mini-width: rem(4.00);
$button-fab-mini-height: rem(4.00);
$button-fab-mini-line-height: rem(4.00);

$button-fab-toast-offset: $button-fab-height * 0.75;

$icon-button-height: rem(4.000);
$icon-button-width: rem(4.000);
$icon-button-margin: rem(0.600);
button.btn::-moz-focus-inner {
  border: 0;
}
.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  @include dense(min-height, $button-line-height, $button-line-height-dense);
  min-width: $button-min-width;
  @include dense(line-height, $button-line-height, $button-line-height-dense);
  vertical-align: middle;
  align-items: center;
  text-align: center;
  border-radius: $button-border-radius;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: 0;
  padding: $button-padding;
  margin: $button-margin;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  @include dense(font-size, $button-font-size, $button-font-size-dense);
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  transition: all $swift-ease-out-duration $swift-ease-out-timing-function;
  &:focus {
    outline: none;
  }
  &:hover, &:focus {
    text-decoration: none;
  }
  &.md-cornered {
    border-radius: 0;
  }
  &.md-icon {
    padding: 0;
    background: none;
  }
  &.md-raised {
    &:not([disabled]) {
      @include md-shadow-bottom-z-1();
    }
  }
  &.md-icon-btn {
    margin: 0 $icon-button-margin;
    height: $icon-button-height;
    min-width: 0;
    line-height: $icon-size;
    padding: $baseline-grid;
    width: $icon-button-width;
    border-radius: $button-icon-border-radius;
  }
  &.md-fab {
    @include fab-all-positions();
    z-index: $z-index-fab;
    line-height: $button-fab-line-height;
    min-width: 0;
    width: $button-fab-width;
    height: $button-fab-height;
    vertical-align: middle;
    @include md-shadow-bottom-z-1();
    border-radius: $button-fab-border-radius;
    background-clip: padding-box;
    overflow: hidden;
    transition: $swift-ease-in;
    transition-property: background-color, box-shadow, transform;
    &.md-mini {
      line-height: $button-fab-mini-line-height;
      width: $button-fab-mini-width;
      height: $button-fab-mini-height;
    }
  }
  &:not([disabled]) {
    &.md-raised,
    &.md-fab {
      &.md-focused {
        @include md-shadow-bottom-z-1();
      }
      &:active {
        @include md-shadow-bottom-z-2();
      }
    }
  }
  &:not([disabled]) {
    &:hover, &.btn-focused {
      background-color: rgba(158, 158, 158, 0.2);
    }
  }
}
.btn.md-icon-button, button.btn.md-fab {
  .md-icon {
    display: block;
  }
}
.btn-group {
  display: flex;
  flex: 1;
  width: 100%;

  & > .btn {
    flex: 1;
    display: block;
    overflow: hidden;
    width: 0;
    border-width: 1px 0px 1px 1px;
    border-radius: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:first-child {
      border-radius: 2px 0px 0px 2px;
    }
    &:last-child {
      border-right-width: 1px;
      border-radius: 0px 2px 2px 0px;
    }
  }
}
</style>
