.rykn0wxx, .mudhead {
  text-rendering: optimizeLegibility;
}
.rykn0wxx {
  line-height: 1.4;
  box-sizing: border-box;
  *, *::before, *::after {
    box-sizing: inherit;
  }
}
.mudhead {
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
  box-sizing: border-box;
  flex-direction: row;
	display: flex;
  color: rgba(0,0,0,0.87);
  scrollbar-face-color: rgba(112, 122, 140, 1);
  scrollbar-track-color: #23252e;
  .app-trans {
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  }
  .layout-content {
    box-sizing: border-box;
    max-width: 100%;
  }
  .flex {
    flex: 1;
    box-sizing: border-box;
  }
  .flex-noshrink {
    flex: 1 0 auto;
    box-sizing: border-box;
  }
}
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  border-radius: 10px !important;
  &-corner {
    background-color: #23252e !important;
  }
  &-track {
    background-color: #23252e !important;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &-thumb {
    background: rgba(112, 122, 140, 1);
    border-radius: 10px !important;
    cursor: pointer !important;
    outline: 1px solid slategrey;
  }
}
