html.rykn0wxx, body.mudhead {
  height: 100%;
  position: relative;
}
body.mudhead {
  margin: 0;
  padding: 0;
}
.rykn0wxx {
  [tabindex='-1']:focus {
    outline: none;
  }
  .inset {
    padding: 10px;
  }
  a.no-style, button.no-style {
    font-weight: normal;
    background-color: inherit;
    text-align: left;
    border: none;
    padding: 0;
    margin: 0;
  }
  select, button, textarea, input {
    vertical-align: baseline;
  }
  input[type="reset"], input[type="submit"], input[type="button"], button {
    cursor: pointer;
    -webkit-appearance: button;
    &[disabled] {
      cursor: default;
    }
  }
  textarea {
    vertical-align: top;
    overflow: auto;
  }
  input {
    &[type="search"] {
      -webkit-appearance: textfield;
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
      &::-webkit-search-decoration, &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
    &:-webkit-autofill {
      text-shadow: none;
    }
  }
  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-transform: none;
    width: 1px;
  }
  .md-shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    pointer-events: none;
  }
  .shadow-bottom-z-1 {
    @include md-shadow-bottom-z-1();
  }
  .shadow-bottom-z-2 {
    @include md-shadow-bottom-z-2();
  }
  .glow-z1 {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14), 0 0 2px 2px rgba(0, 0, 0, 0.098), 0 0 5px 1px rgba(0, 0, 0, 0.084);
  }
  .shadow-animated.md-shadow {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .add-padding {
    padding: 8px;
  }
  .add-margin {
    margin: 8px;
  }
}
